	<div class="footer">
		<div class="footer-center">
			<h3>Follow us on:</h3>
			<a href="https://fb.me/hiddenwonderz" target="_blank" class="ui circular facebook icon button">
				<i class="facebook icon"></i>
			</a>
			<a href="https://www.instagram.com/hiddenwonderz" target="_blank" class="ui circular instagram icon button">
				<i class="instagram icon"></i>
			</a>
			<a href="https://github.com/monishk10/hiddenwonderz" target="_blank" class="ui circular github icon button">
				<i class="github icon"></i>
			</a>
			<p>Created with <i style="color: #f44336; margin-bottom: 20px;" class="heart icon"></i> by: <strong>Monish Kapadia</strong></p>
		</div>
	</div>
</div>
</body>
</html>