	<div class="footer">
		<div class="footer-center">
			<h3>Follow us on:</h3>
			<button class="ui circular facebook icon button">
				<i class="facebook icon"></i>
			</button>
			<button class="ui circular twitter icon button">
				<i class="twitter icon"></i>
			</button>
			<button class="ui circular instagram icon button">
				<i class="instagram icon"></i>
			</button>
			<p>Created with <i style="color: #f44336; margin-bottom: 20px;" class="heart icon"></i> by: <strong>Monish Kapadia</strong></p>
		</div>
	</div>
</div>
</body>
</html>