<!DOCTYPE html>
<html>
    <head>
        <!-- Title of the page -->
        <title>Hidden Wonderz</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Logo -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/logo/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/logo/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/logo/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/logo/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../assets/logo/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/logo/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/logo/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/logo/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="../assets/logo/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="../assets/logo/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="../assets/logo/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="../assets/logo/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="../assets/logo/mstile-310x310.png" />
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
        <link rel="stylesheet" href="/css/form.css">
        <!-- Scripts -->
        <script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/semantic/semantic.js"></script>
    </head>
    <body>
    <div>
	  <% if(error && error.length > 0) { %>
	    <div class="ui compact message wrong">
	      <div class="header">
	        <p><%= error %></p>
	      </div>
	    </div>
	  <% } %>
	   
	  <% if(success && success.length > 0) { %>
	    <div class="ui compact message correct">
	      <div class="header">
	        <p><%= success %></p>
	      </div>
	    </div>
	  <% } %>
	</div>
    <div style="position: relative; z-index: 2;" class="ui left aligned basic segment">
	    <a class="ui circular icon inverted button" href="/places">
	      <i class="home icon"></i>
	    </a>
	</div>