<div class="topnav" id="myTopnav">
  <a class="static-brand" href="/">
    <img class="logo-image" src="https://i.imgur.com/A23M1TR.png">
  </a>
  <div class="navbar-items">
    <a href="/places">Home</a>
    <a href="/aboutme">About</a>
    <div class="right">
      <% if(!currentUser){ %>
        <a class="noextra-underline" href="/login">Login</a>
        <a class="noextra-underline" href="/register">Register</a>
      <% } else { %>
        <a class="noextra-underline" href="/user/<%= currentUser._id %>"><%= currentUser.username %> </a>
        <a class="noextra-underline" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<div>
      <% if(error && error.length > 0) { %>
        <div style="position: absolute;top: 0px;left: 40%; z-index: 100;" class="ui compact message wrong">
          <div class="header">
            <p><%= error %></p>
          </div>
        </div>
      <% } %>
       
      <% if(success && success.length > 0) { %>
        <div style="position: absolute;top: 0px;left: 40%; z-index: 100;" class="ui compact message correct">
          <div class="header">
            <p><%= success %></p>
          </div>
        </div>
      <% } %>
</div>
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
/* To make active class */
$(document).ready( function(){
  var location = window.location.pathname;
  $("a[href='"+location+"']").addClass("active");
});

$('.message').transition('fly down', '5s');

</script>