<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="upload-loading">
  <span id="new-place"></span><span id="wait-till-upload"></span>
  <span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="main">
  <div class="ui container">
    <h1>Create a New Place</h1>
    <form id="new-place-form" class="ui form" action="/places" method="POST" enctype="multipart/form-data">
      <div class="field">
        <input type="text" name="place[name]" placeholder="Cheerful Mumbai">
      </div>
      <div id="image-type-selector" class="field">
        <label for="images" class="custom-image-upload">
            <span style="font-weight: 700;">Image Upload:</span> <span class="ui blue button">Upload</span> <span class="upload-text"> Upload files (File limit: Max 10 files, Total size limit: 25MB)</span>
        </label>
        <input type="file" id="images" name="images" accept="image/*" required multiple>
      </div>
      <div class="field">
        <select multiple="" name="place[placeType]" class="ui fluid normal dropdown">
          <option value="">Place Type</option>
          <option value="One-Day Trip">One-Day Trip</option>
          <option value="Multiple-Day Trip">Multiple-Day Trip</option>
          <option value="Drive">Drive</option>
          <option value="Road Trip">Road Trip</option>
          <option value="Local: Night Drive">Local: Night Drive</option>
          <option value="Trekking">Trekking</option>
          <option value="Adventure">Adventure</option>
          <option value="Chill">Chill</option>
          <option value="Nature">Nature</option>
          <option value="Heaven on Earth">Heaven On Earth</option>
          <option value="Camping">Camping</option>
          <option value="Party">Party</option>
          <option value="Fest">Fest</option>
          <option value="Night Life">Night Life</option>
        </select>
      </div>
      <div class="field">
        <input type="text" name="place[location]" id="location" placeholder="Mumbai">
      </div>
      <div id="autocomplete-map"></div>
      <div class="field">
        <!-- Create the toolbar container -->
        <div id="toolbar"></div>
        <div id="editor"></div>
        <textarea style="display: none;" name="place[description]" id="description"></textarea>
      </div>
      <div class="field">
        <a id="new-place-form-submit" class="ui button">Submit!</a>
      </div>
    </form>
    <p>
      <a href="/places">Go Back</a>
    </p>
    <div class="ui mini modal">
      <div class="header">Confirm post</div>
      <div class="content">
        <p>Are you sure you want to post?</p>
      </div>
      <div class="actions">
        <div class="ui approve green button">Confirm</div>
        <div class="ui cancel red button">Cancel</div>
      </div>
    </div>
  </div>
</div>
</div>
<style>
  #editor {
    height: 250px;
  }
</style>
<script>
  $(document).ready(function(){
    $('.ui.normal.dropdown').dropdown({
        maxSelections: 5
      });
  })
 /*Initialize Quill editor*/
  var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'size': ['small', false, 'large', 'huge'] }],
    [{ 'align': [] }]
  ]
  var quill = new Quill('#editor', {
      modules: { toolbar: toolbarOptions },
      placeholder: 'Description...',
    theme: 'snow'
  });

  $(function(){
    $('#images').change(function(){
      if(this.files.length > 10){
        alert("Files selected:" + this.files.length + ". File limit:10");
      } else {
        var combinedSize = 0;
        for(var i=0;i<this.files.length;i++) {
            combinedSize += (this.files[i].size||this.files[i].fileSize);
        }
        // 25MB=26214400 limit
        if(combinedSize > 26214400){
          alert(combinedSize/(1024*1024) + "MB: Limit 25MB");
          $('#images')[0].value = "";
          $(".upload-text").html("Upload files (File limit: Max 10 files, Total size limit: 25MB)");
        } else {
          $(".upload-text").html("Files are ready to upload");
        }
      }
    });
  });

  $(document).ready(function(){
    $(".upload-text").css({
      "margin-left" : "2%"
    });

    $(".ui.blue.button").css({
      "margin-left" : "1%"
    });

    $('.ui.form').submit(function() {
      if($('.ui.form').form('is valid')){
        $('.upload-loading').css({
          'visibility': 'visible',
          'opacity' : '1'
        });
      }
    });

    $('.ui.form')
      .form({
        inline : true,
        on: 'blur',
        fields: {
          name: {
            identifier: 'place[name]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter location\'s name'
              }
            ]
          },
          location: {
            identifier: 'place[location]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter a valid location'
              }
            ]
          },
          placeType: {
            identifier: 'place[placeType]',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please enter atleast one tag'
              }
            ]
          }
        }
      });

    
    $("#new-place-form-submit").click(function(){
      var delta = quill.getContents();
      var newSomething = JSON.stringify(delta);
      $('#description').html(newSomething);
      $('.mini.modal')
        .modal({
          onDeny    : function(){
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document  
          },
          onApprove : function() {
            if(($('input[type="file"]').val())) {
              if(($('#description').text().length > 26)) {
                $('form#new-place-form').submit();
              } else {
                alert("No description entered...");
              }
            } else {
              alert("No image file selected...");
            }
          },
          approve  : '.positive, .approve, .ok',
          deny     : '.negative, .deny, .cancel',
        }).modal('setting', 'transition', 'scale')
        .modal('show');
    });
  });

function initMap() {
  var map = new google.maps.Map(document.getElementById('autocomplete-map'), {
    zoom: 13
  });
  var input = document.getElementById('location');

  var autocomplete = new google.maps.places.Autocomplete(input);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      // User entered the name of a Place that was not suggested and
      // pressed the Enter key, or the Place Details request failed.
      window.alert("No details available for input:");
      return;
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPQobcx-8jUUZqhJp5ffqSLfAbAIVxm-Y&&libraries=places&callback=initMap" async defer>
</script>
<% include ../partials/footer %>
