<% include ../partials/header %>
<% include ../partials/navbar %> 
<div class="main">
	<!-- Side navigation -->
	<div class="sidenav">
		<div id="sidenav" class="ui secondary vertical pointing menu">
		  <a href="#1" class="item active">
		    Home
		  </a>
		  <a href="#2" class="item">
		    Image Gallery
		  </a>
		  <a href="#3" class="item">
		    Description
		  </a>
		  <a href="#4" class="item">
		    Map
		  </a>
		  <a href="#5" class="item">
		    Comments
		  </a>
		</div>
	</div>
	<!-- Show page content -->
	<div class="show-content">
		<div class="ui segment">
			<div class="sections">
				<!-- Main section of page -->
				<% include ./show/main_content %>
				<!-- Content section of page --> 
				<% include ./show/comment_content %> 
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
	    $(this).scrollTop(0);
	});

	var sections = $('section'), 
			nav = $('.sidenav'), 
			nav_height = $('.topnav').outerHeight(),
	  	look_offset = 20,
	  	mobile_offset = 10;
	
	$(window).on('scroll', function () {
	  var cur_pos = $(this).scrollTop();
	  
	  sections.each(function() {
	    var top = $(this).offset().top - nav_height - look_offset,
	        bottom = top + $(this).outerHeight() ;
	    
	    if (cur_pos >= (top - look_offset - mobile_offset) && cur_pos <= (bottom - look_offset - mobile_offset)) {
	      nav.find('a').removeClass('active');
	      sections.removeClass('active');
	      
	      $(this).addClass('active');
	      nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
	    }
	  });
	});

	nav.find('a').on('click', function () {
	  var $el = $(this),
	    	id = $el.attr('href');
	  
	  $('html, body').animate({
	    scrollTop: $(id).offset().top - nav_height - look_offset - mobile_offset
	  }, 500);
	  
	  return false;
	});

	if ($(window).width() < 991) {
		$("#sidenav").removeClass("ui secondary vertical pointing menu").addClass("mobile-sidenav");
		$("#sidenav a").removeClass("item").addClass("mobile-item");
	}
</script>
<% include ../partials/footer %>
