<!DOCTYPE html>
<html>
    <head>
    	<!-- Title of the page -->
        <title>Hidden Wonderz</title>

        <!-- Logo -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/logo/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/logo/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/logo/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/logo/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../assets/logo/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/logo/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/logo/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/logo/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="../assets/logo/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="../assets/logo/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="../assets/logo/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="../assets/logo/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="../assets/logo/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="../assets/logo/mstile-310x310.png" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link href="/css/glide/glide.core.css" rel="stylesheet">
        <link href="/css/glide/glide.theme.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/home.css">
        
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans" rel="stylesheet">
        
        <!-- Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="/js/glide.js"></script>
    </head>
    
    <body>
	<div class="front">
		<div class="home-header">
			<img class="ui medium centered image" src="https://i.imgur.com/A23M1TR.png">
			<div class="ui horizontal divider">Quote</div>
			<div id="quotes" class="glide">
			    <div class="glide__arrows">
			        <button class="glide__arrow prev" data-glide-dir="<">&lt</button>
			        <button class="glide__arrow next" data-glide-dir=">">&gt</button>
			    </div>

			    <div class="glide__wrapper">
			        <ul class="glide__track">
			            <li class="glide__slide">
			            	<p>“Life is either a daring adventure or nothing at all.”</p>
							<p id="bottom-space">- Helen Keller</p>
			            </li>
			            <li class="glide__slide">
			            	<p>“To Travel is to Live”</p>
							<p id="bottom-space">- Hans Christian Andersen</p>
			            </li>
			            <li class="glide__slide">
			            	<p>“The most beautiful in the world is, of course, the world itself.”</p>
							<p id="bottom-space">- Wallace Stevens</p>
			            </li>
			            <li class="glide__slide">
			            	<p>“Traveling – it leaves you speechless, then turns you into a storyteller.”</p>
							<p id="bottom-space">- Ibn Battuta</p>
			            </li>
			        </ul>
			    </div>

			    <div class="glide__bullets"></div>

			</div>
			<div class="ui divider"></div>
			<div class="padded-button">
				<a href="/places" class="ui inverted black button">Enter Hidden Wonderz</a>
			</div>
		</div>
	</div>

	<ul class="slideshow">
    	<li></li>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>

    <script>
	    $("#quotes").glide({
	        type: "carousel"
	    });
	</script>

</body>
</html>