<% include ./partials/header %> 
<% include ./partials/navbar %> 

<div class="main">
	<div class="ui container">
		<div class="login-register-form">
			<h1>Login</h1>
			<form class="ui form" action="/login" method="POST">
				<div class="field">
				    <label>Username</label>
				    <input type="text" name="username" placeholder="username">
				</div>
			    <div class="field">
				    <label>Password</label>
				    <input type="password" name="password" placeholder="password">
				</div>
				<div style="display: inline-block;">
					<button class="ui positive button" type="submit">Submit</button>
					<a class="ui red button" href="/forgot">Forgot Password</a>
				</div>
			</form>
		</div>
	</div>
</div>

<% include ./partials/footer %> 