<% include ./partials/header %> 
<% include ./partials/navbar %> 

<div class="main">
	<div class="ui container">
		<div class="login-register-form">
			<h1>Register</h1>
			<form class="ui form" action="/register" method="POST">
				<div class="field">
				    <label>Username</label>
				    <input type="text" name="username" placeholder="username">
				</div>
			    <div class="field">
				    <label>Password</label>
				    <input type="password" name="password" placeholder="password">
				</div>
			    <button class="ui primary button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<% include ./partials/footer %> 