body {
	background-color: #FEFEFE;
	margin-top: 120px;
}

/*******************************************/
/* Navbar spacing */
.main {
	margin-bottom: 50px;
}

/*******************************************/
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

/*******************************************/
/* loading animation */
#registeration-loading:before {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  color: #d63635;
  top: 24%;
  left: 43%;
  content: "Registering user... ";
}

#gallery-images:before {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  color: #d63635;
  top: 24%;
  left: 43%;
  content: "Uploading images... ";
}
.upload-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/loaders/upload-loading.gif) center no-repeat #fff;
  visibility: hidden;
}

/*******************************************/
/* avatar image */
.ui.feed > .event > .label img {
  margin-top: 10px;
  width: 30px;
}


/*******************************************/
/* The sidebar menu */
.sidenav {
    margin-top: 120px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* Style page content */
.show-content {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/*******************************************/
/*Index page*/
.index-header {
	text-align: center;
	color: #303031;
	padding: 30px 0;
}

.anime-text {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.anime-text .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.anime-text .letter {
  display: inline-block;
  line-height: 1em;
}

/****************************************/
/* Masonry grid */
.masonry {
    margin: 4em 0;
    padding: 0;
    -webkit-column-gap: 1.5em;
       -moz-column-gap: 1.5em;
            column-gap: 1.5em;
    
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
    font-size: .85em;
}

.item {
    display: inline-block;
    padding: 0;
    margin: 0 0 1em;
    width: 100%;
}


/****************************************/
/* Map */
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#autocomplete-map {
  height: 0px;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
/****************************************/

/****************************************/
/* Login form */

.login-register-form {
	padding: 1.5% 2%;
	margin: 15% 25%;
	background-color: #fff;
	border: 1px solid #303030CC;
	border-radius: 3px;
	box-shadow: 0 0 3px 1px #30303033;
	max-width: 500px;
}
.ui.form input[type="text"].username,
.ui.form input[type="password"],
.ui.form input[type="email"]{
	width: 100%;
}
/*********************************************/
/* Gallery */
.demo-gallery > ul {
  margin-bottom: 0;
  padding-left: 15px;
}

.demo-gallery > ul > li {
  margin-bottom: 15px;
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
/*********************************************/

input[type="file"] {
    display: none;
}

.ui.form .field>label {
	font-weight: 200;
}

.ui.checkbox input.hidden+label {
	margin-right: 1em;
}

.custom-image-upload {
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	box-shadow: 0 0 0 0 transparent inset;
    display: inline-block;
    padding: 6px 12px;
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Font sizes */
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}
	p {
		font-size: 30px;
	}
	.main {
	}
	body {
		margin-top: 200px;
	}

	/* The sidebar menu */

	.sidenav {
	margin-top: 90px;
	    width: 0px; /* Set the width of the sidebar */
	}
	.mobile-sidenav {
	  width: 100%;
	  height: 70px; 
	  position: fixed; 
	  top: 174px;
	  background: #fff;
	  text-align: center;
	  border-bottom: 1.5px solid #30303010;
	}

	.mobile-sidenav a {
		color: #303030;
	}

	.mobile-item {
	    display: inline-block;
	    padding: 20px 10px;
	    font-size: 20px;
	}

	a.active {
		border-bottom: 3px solid #303030;
		font-weight: bold;
	}

	/* Style page content */
	.show-content {
	    margin: 250px 15px; /* Same as the width of the sidebar */
	    padding: 0px 10px;
	}

	.ui.container {
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	}


	.masonry {
		-webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    	margin: 4em 4em;
    }

    .login-register-form {
    	margin: 15% 15%;
    }

    /* Default Header Size */
	.ui.cards > .card > .content > .header:not(.ui),
	.ui.card > .content > .header:not(.ui) {
	  font-size: 5em;
	  margin-top: 30px;
	  margin-bottom: 30px;
	}

	.ui.buttons .button,
	.ui.buttons .or,
	.ui.button {
	  font-size: 2rem;
	}

	.ui.button.full-width {
		width: 100%;
	}

	.ui.cards > .card > .extra,
	.ui.card > .extra {
		font-size: 2em;
		margin-bottom: 
	}

	.ui.divider:after {
		font-size: 2rem;
	}

	.login-register-form {
		margin: 15% 3%;
		border: 3px solid #303030CC;
		border-radius: 6px;
		box-shadow: 0 0 6px 2px #30303033;
		max-width: 990px;
	}

	.login-register-form h1 {
		font-size: 3.5rem;
		margin: 3% 0.5%;
	}

	.ui.form {
		font-size: 2.5rem;
	}

	.field label {
		padding: 2% 0;
	}

	.ui.form .fields {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}


	.ui[class*="equal width"].form:not(.unstackable) .fields > .field,
	.ui.form:not(.unstackable) [class*="equal width"].fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .two.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .two.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .three.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .three.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .four.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .four.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .five.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .five.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .six.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .six.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .seven.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .seven.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .eight.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .eight.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .nine.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .nine.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .ten.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .ten.fields:not(.unstackable) > .field {
		width: 100% !important;
		margin: 0em 0em 1em;
	}
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.image-header h1 {
		font-size: 20px;
	}

	.masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .login-register-form {
    	margin: 15% 5%;
    }
}

@media only screen and (max-width: 991px) {
 
}