html, body {
	height: 0;
}
body {
	background-color: #FEFEFE;
}

/****************************************/
/* Masonry grid */
.masonry {
  margin: 4em 0;
  padding: 0;
  -webkit-column-gap: 1.5em;
     -moz-column-gap: 1.5em;
          column-gap: 1.5em;
  
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  font-size: .85em;
}

.item {
  display: inline-block;
  padding: 0;
  margin: 0 0 1em;
  width: 100%;
}

/****************************************/
/* Login form */

.login-register-form {
  padding: 1.5% 2%;
  margin: 15% 25%;
  background-color: #fff;
  border: 1px solid #303030CC;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px #30303033;
  max-width: 500px;
}
.ui.form input[type="text"].username,
.ui.form input[type="password"],
.ui.form input[type="email"]{
  width: 100%;
}

/*******************************************/
/* loading animation */
#registeration-loading:before {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  color: #d63635;
  top: 24%;
  left: 43%;
  content: "Registering user... ";
}

#gallery-images:before {
  position: fixed;
  font-size: 1.5em;
  font-weight: bold;
  color: #d63635;
  top: 24%;
  left: 43%;
  content: "Uploading images... ";
}
.upload-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../assets/loaders/upload-loading.gif) center no-repeat #fff;
  visibility: hidden;
}

/* Mobile */
@media only screen and (max-width: 991px) {
	/* Font sizes */
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}
	p {
		font-size: 30px;
	}

	.ui.container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
	}

	.masonry {
		-webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    margin: 4em 4em;
  }

  /* Default Header Size */
	.ui.cards > .card > .content > .header:not(.ui),
	.ui.card > .content > .header:not(.ui) {
	  font-size: 5em;
	  margin-top: 30px;
	  margin-bottom: 30px;
	}

	.ui.buttons .button,
	.ui.buttons .or,
	.ui.button {
	  font-size: 2rem;
	}

	.ui.button.full-width {
		width: 100%;
	}

	.ui.cards > .card > .extra,
	.ui.card > .extra {
		font-size: 2em;
		margin-bottom: 
	}

	.ui.divider:after {
		font-size: 2rem;
	}

	.login-register-form {
		margin: 15% 3%;
		border: 3px solid #303030CC;
		border-radius: 6px;
		box-shadow: 0 0 6px 2px #30303033;
		max-width: 990px;
	}

	.login-register-form h1 {
		font-size: 3.5rem;
		margin: 3% 0.5%;
	}

	.ui.form {
		font-size: 2.5rem;
	}

	.field label {
		padding: 2% 0;
	}

	.ui.form .fields {
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}


	.ui[class*="equal width"].form:not(.unstackable) .fields > .field,
	.ui.form:not(.unstackable) [class*="equal width"].fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .two.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .two.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .three.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .three.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .four.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .four.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .five.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .five.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .six.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .six.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .seven.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .seven.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .eight.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .eight.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .nine.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .nine.fields:not(.unstackable) > .field,
	.ui.form:not(.unstackable) .ten.fields:not(.unstackable) > .fields,
	.ui.form:not(.unstackable) .ten.fields:not(.unstackable) > .field {
		width: 100% !important;
		margin: 0em 0em 1em;
	}
}