/* Mobile */
@media only screen and (max-width: 991px) {
	#myTopnav{
		display: none;
	}
	#mobileNav {
		display: block;
	}

	.mobile-topnav {
		position: relative;
		background-color: #fff;
		top: 0;
		width: 100%;
		z-index: 100;
		border-bottom: 5px solid #0e1d28;
	    height: 80px;
	}

	.mobile-static-brand img{
		margin: 17.5px 10px;
	}

	.mobile-logo-image {
		height: 40px;
	}

	.navToggle-icon {
		color: #0e1d28;
		text-align: center;
		padding: 28px 16px;
		font-size: 17px;
		float: right;
	}

	.pushable > .pusher:after {
		background-color: rgba(0, 0, 0, 0);
	}

	.mobile-nav-item {
		font-size: 15px;
		color: #0e1d28;
		font-weight: bold;
	}
}