/* Mobile */
@media only screen and (max-width: 991px) {
	body {
		font-size: 15px;
	}

	/***********************************/
	/*Set Mobile Nav*/
	#myTopnav{
		display: none;
	}
	#mobileNav {
		display: block;
	}

	/***********************************/
	/* mobile nav styling */
	.mobile-topnav {
		position: fixed;
		background-color: #fff;
		top: 0;
		width: 100%;
		z-index: 100;
		border-bottom: 5px solid #0e1d28;
	    height: 80px;
	}

	.pushable > .pusher:after {
		background-color: rgba(0, 0, 0, 0);
	}

	.mobile-static-brand img{
		margin: 17.5px 10px;
		height: 40px;
	}

	.navToggle-icon {
		color: #0e1d28;
		text-align: center;
		padding: 28px 16px;
		font-size: 17px;
		float: right;
	}

	.mobile-nav-item {
		font-size: 15px;
		color: #0e1d28;
		font-weight: bold;
	}

	/***********************************/
	/* Flash messages */
	.ui.compact.message {
		left: 0;
		width: 90%;
		margin-left: 5%;
	}

	/* Fix styling error on opening navbar menu */
	.scroll-down, .image-header p {
		bottom: unset;
	}
	.scroll-down {
		margin-top: 82vh;
	}
	.image-header p {
		margin-top: 90vh;
	}
	/***********************************/
	/* Spacing for navbar */
	.main {
		margin-top: 90px;
	}

	/***********************************/
	/* Header */
	.image-header .hw-header{
	  margin-top: 130px;
	  left: 0;
	  margin-left: 0;
	  width: 100%;
	  text-align: center;
	}

	.hw-header h1 {
	  font-size: 1.6rem;
	}

	.hw-header h3 {
	  font-size: 1.2rem;
	}

	/***********************************/
	/* Main index page */
	/***********************************/
	/* Search & Add button */
	#searchLocation {
		width: 60vw;
	}
	.ui.grid>[class*="right aligned"].column.column{
		text-align: left;
	}

	/***********************************/
	/* Masonry grid */
	.masonry {
	  grid-auto-rows: unset;
	}
	.ui.card, .ui.cards>.card {
		width: 100%;
	}

	/***********************************/
	/* Pagination */
	#pagination {
		margin-top: 1%;
	}
	
	/***********************************/
	/* Forms */
	#left-box {
		height: unset;
		border-top-left-radius: 0.25rem; 
		border-top-right-radius: 0.25rem;
		border-bottom-left-radius: unset;
	}
	#left-box h3{
		display: none;
	}
	#left-box h5,#left-box a {
		margin: unset;
		margin-bottom: 5px;
	}
	#left-box h1 {
		margin: unset;
		padding-bottom: 5px;
		font-size: 30px;
	}

	#right-box {
		height: unset;
		margin-bottom: 10%;
		border-top-right-radius: unset; 
		border-bottom-right-radius: 0.25rem;
		border-bottom-left-radius: 0.25rem;
	}

	#grid-noPadding {
		padding-top: unset; 
		padding-bottom: unset;
	}

	#form-spacing, #reset-form {
	  margin-top: unset;
	}

	.ui.container {
		top: unset;
		margin-top: 30px;
	}
}