body{
  margin-top: 120px;
  margin-bottom: 50px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 15px 0 0 0;
    z-index: 100;
    font-size: 17px;
    border-bottom: 8px solid #303031;
    height: 100px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.scrolled-nav{
  height: 69px !important;
}

.topnav .static-brand {
  padding: 4px 8px 0px 8px;
  left: 50%;
  width: 226px;
  margin-left: -113px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #303030;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 0 5px;
}

/* Change the color of links on hover */
.topnav .navbar-items a:hover {
    background-color: #fff;
    color: #303031;
    font-weight: bold;
}

.topnav .navbar-items a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: #303031;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.topnav .navbar-items a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Add an active class to highlight the current page */
.topnav .active {
  font-weight: bold;
  border-bottom: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #303030;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #303031;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #303030;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.right {
    float: right;
    display: block;
}

.logo-image {
  height: 45px;
}

.ui.compact.message {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  z-index: 100;
}

.ui.message {
  color: rgba(255, 255, 255, 1);
  border-radius: 0.28571429rem;
  box-shadow: none;
}

.ui.message p {
  opacity: 1;
}

.ui.message.correct {
  background: #00C853;
}

.ui.message.wrong {
  background: #e53935;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 991px) {
  .topnav {
    border-bottom: 15px solid #303031;
    padding: 0;
    overflow: hidden;    
  }

  .topnav a:not(.static-brand) {
    padding: 70px 16px;
    font-size: 35px;
  }

  .topnav .static-brand {
    padding: 35px 0;
    left: 20px;
  }

  .logo-image {
    height: 80px;
  }

  .topnav .active {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .topnav a:not(.static-brand) {display: none;}
  .topnav a.icon {
    float: right;
    right: 20px;
    display: block;
  }

  .topnav .navbar-items a:not(.noextra-underline):before {
    width: 30%;
  }

  .ui.cards > .card,
  .ui.card {
    width: 100%;
  }

  .ui.divider {
    font-size: 2rem;
  }

  .ui.compact.message {
    width: 100%;
    margin-left: -50%;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 991px) {
  body {
    margin-top: 200px;
  }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}