#mobileNav {
  display: none;
}
#myTopnav{
    display: block;
}
.topnav {
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 15px 0 0 0;
    z-index: 100;
    font-size: 17px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    height: 100px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.scrolled-nav{
  height: 69px !important;
}

.topnav .static-brand {
  padding: 4px 8px 0px 8px;
  left: 50%;
  width: 226px;
  margin-left: -113px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #0e1d28;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin: 0 5px;
}

/* Change the color of links on hover */
.topnav .navbar-items a:hover {
    background-color: rgba(0,0,0,0);
    color: #0e1d28;
    font-weight: bold;
}

.topnav .navbar-items a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: #0e1d28;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.topnav .navbar-items a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Add an active class to highlight the current page */
.topnav .active {
  font-weight: bold;
  border-bottom: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* The dropdown container */
.dropdownNav {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdownNav .dropbtn {
  border: none;
  outline: none;
  color: #0e1d28;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdownNav:hover .dropbtn {
  color: #0e1d28;
}

/* Dropdown content (hidden by default) */
.dropdownNav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownNav-content a {
  float: none;
  color: #0e1d28;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownNav-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdownNav:hover .dropdownNav-content {
  display: block;
}

.right {
    float: right;
    display: block;
}

.logo-image {
  height: 45px;
}

.ui.compact.message {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  text-align: center;
  z-index: 100;
}

.ui.message {
  color: rgba(255, 255, 255, 1);
  border-radius: 0.28571429rem;
  box-shadow: none;
}

.ui.message p {
  opacity: 1;
}

.ui.message.correct {
  background: #00C853;
}

.ui.message.wrong {
  background: #e53935;
}