/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 5px 0 0 0;
    z-index: 100;
    border-bottom: 8px solid #007791;
}

.topnav .static-brand {
  padding: 4px 8px 0px 8px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #303030;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    margin: 0 5px;
}

/* Change the color of links on hover */
.topnav .navbar-items a:hover {
    background-color: #fff;
    color: #007791;
    font-weight: bold;
}

.topnav .navbar-items a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 4px;
  left: 0;
  background-color: #007791;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.topnav .navbar-items a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Add an active class to highlight the current page */
.topnav .active {
  font-weight: bold;
  background-color: #007791;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.right {
    float: right;
    display: block;
}

.logo-image {
  height: 45px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 991px) {
  .topnav {
    border-bottom: 15px solid #007791;
    padding: 0;    
  }

  .topnav a:not(.static-brand) {
    padding: 70px 16px;
    font-size: 35px;
  }

  .topnav .static-brand {
    padding: 35px 0;
    left: 20px;
  }

  .logo-image {
    height: 80px;
  }

  .topnav .active {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .topnav a:not(.static-brand) {display: none;}
  .topnav a.icon {
    float: right;
    right: 20px;
    display: block;
  }

  .topnav .navbar-items a:not(.noextra-underline):before {
    width: 30%;
  }

  .ui.cards > .card,
  .ui.card {
    width: 100%;
  }

  .ui.divider {
    font-size: 2rem;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 991px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}