@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.image-header { 
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-header li { 
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 0;
  background-image: url(https://i.imgur.com/V2kKc5T.jpg);
}

.image-header p {
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  bottom: 60px;
  left: 50%;
  margin-left: -56px;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.image-header .hw-header{
  position: absolute;
  z-index: 2;
  color: #0e1d28;
  margin-top: 130px;
  left: 50%;
  margin-left: -300px;
}

.hw-header h1 {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

.hw-header h3 {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}