<% include ../partials/form %>
	<div class="ui container">
		<div class="ui centered grid">
			<div id="grid-noPadding" class="fifteen wide tablet five wide computer column">
	    		<div id="left-box" class="ui segment">
	    			<div style="text-align: center; color: white;">
	    				<img style="padding-top: 30px;" class="ui tiny centered image" src="https://i.imgur.com/lOdXhuN.png">
	    				<h3>Hidden Wonderz</h3>
	    				<h1 id="form-title">Forgot Password</h1>
	    			</div>
	    		</div>
	    	</div>
		    <div id="grid-noPadding" class="fifteen wide tablet seven wide computer column">
		    	<div id="right-box" class="ui segment">
	    			<div class="form-layout">
						<form id="form-spacing" class="ui form" action="/forgot" method="POST">
							<div class="field">
							    <label>Email</label>
							    <input type="email" name="email" placeholder="joe@example.com" autofocus>
							</div>
							<button class="ui inverted blue button" type="submit">Reset Password</button>
						  	<p>
						  		<a href="/login">Login page</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ul class="bg-form">
	  <li></li>
	</ul>
	<script>
		$('.message').transition('fly down', '5s');
	</script>
	<script>
$(document).ready(function(){
  if($(window).width() > 991){
    window.setInterval(alignment_box, 200);
    function alignment_box(){
      var right=$('#right-box').outerHeight();
      var left=$('#left-box').outerHeight();
      if(left>right) {
        $('#right-box').outerHeight(left)
      }
      else {
        $('#left-box').outerHeight(right)
      }
    }
  }
});
</script>
</body>
</html>