<% include ../partials/form %>
	<div class="ui container">
		<div class="ui centered grid">
	    	<div id="grid-noPadding" class="fifteen wide tablet five wide computer column">
	    		<div id="left-box" class="ui segment">
	    			<div style="text-align: center; color: white;">
	    				<img style="padding-top: 30px;" class="ui tiny centered image" src="https://i.imgur.com/lOdXhuN.png">
	    				<h3>Hidden Wonderz</h3>
	    				<h1 id="form-title">Login</h1>
	    				<h5>Don't have an account?</h5>
	    				<a class="ui blue button" href="/register">SignUp</a>
	    			</div>
	    		</div>
	    	</div>
			<div id="grid-noPadding" class="fifteen wide tablet seven wide computer column">
	    		<div id="right-box" class="ui segment">
	    			<div class="form-layout">
						<form onsubmit="lowerCase()" id="form-spacing" class="ui form" action="/login" method="POST">
							<div class="field">
							  <label>Username</label>
							  <input type="text" name="username" id="username" placeholder="username">
							</div>
						    <div class="field">
						    <label>Password</label>
						    <input type="password" name="password" placeholder="password">
							</div>
							<div style="display: inline-block;">
								<button class="ui inverted green button" type="submit">Submit</button>
								<a class="ui inverted red button" href="/forgot">Forgot Password</a>
							</div>
						</form>
					</div>
	    		</div>
			</div>
		</div>
	</div>
	<ul class="bg-form">
		<li></li>
	</ul>
	<script>
		function lowerCase() {
			var inputUsername = document.getElementById('username').value.toLowerCase();
			document.getElementById('username').value = inputUsername;
		}
		$('form').form({
		    inline : true,
		    on: 'blur',
		    fields: {
		      username: {
		        identifier: 'username',
		        rules: [{
		          type: 'empty',
		          prompt: 'Please enter a username'
		        }]
		      },
		      password: {
		        identifier: 'password',
		        rules: [{
		          type: 'empty',
		          prompt: 'Please enter a password'
		        }]
		      }
		    }
	  	});
		$(document).ready(function(){
		  if($(window).width() > 991){
		    window.setInterval(alignment_box, 200);
		    function alignment_box(){
		      var right=$('#right-box').outerHeight();
		      var left=$('#left-box').outerHeight();
		      if(left>right) {
		        $('#right-box').outerHeight(left)
		      }
		      else {
		        $('#left-box').outerHeight(right)
		      }
		    }
		  }
		});
	</script>
</body>
</html>
