<% include ../partials/form %>
<style>
  .preview-wrapper{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
  }
</style>
<div class="upload-loading">
  <div id="avatar-images" ></div>
</div>
	<div class="ui container">
    <div class="ui centered grid">
      <div class="ui small modal">
        <div class="header">
          Upload Avatar
        </div>
        <div class="content">
          <div class="ui grid">
            <div class="ten wide column">
              <div class="ui basic segment">
                <img class="ui circular centered small image" src="../assets/avatar/default-avatar.png" id="change-profile-pic">
                <input type="file" accept="image/*" id="profile-file-input" onchange="loadFile(event)">
                <a id="select-cropped-image" class="ui blue button">Upload</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="grid-noPadding" class="fifteen wide tablet five wide computer column">
        <div id="left-box" class="ui segment">
          <div style="text-align: center; color: white;">
            <img style="padding-top: 30px;" class="ui tiny centered image" src="https://i.imgur.com/lOdXhuN.png">
            <h3>Hidden Wonderz</h3>
            <h1 id="form-title">Register</h1>
            <h5>Already have an account?</h5>
            <a class="ui green button" href="/login">Login</a>
          </div>
        </div>
      </div>
      <div id="grid-noPadding" class="fifteen wide tablet seven wide computer column">
    		<div id="right-box" class="ui segment">
          <div class="form-layout">
      			<form class="ui form" action="/register" method="POST" enctype="multipart/form-data">
      				<div class="equal width fields">
      					<div class="field">
      				    <label>Name</label>
      				    <input style="width: 100%;" type="text" name="firstName" placeholder="Enter Name">
      					</div>
      					<div class="field">
      				    <label>Last Name</label>
      				    <input style="width: 100%;" type="text" name="lastName" placeholder="Enter Last Name">
      					</div>
      				</div>
              <div id="profile-result" class="field">
                <img src="../assets/avatar/default-avatar.png" class="ui circular tiny image">
              </div>
              <div class="field">
                <a id="image-upload-modal" class="ui blue button">Upload Avatar</a>
              </div>
              <div id="avatar"></div>
      				<div class="field">
      			    <label>Email</label>
      			    <input style="width: 100%;" type="email" name="email" placeholder="E-mail">
      				</div>
      				<div class="field">
      			    <label>Username</label>
      			    <input style="width: 100%;" class="username" type="text" name="username" placeholder="username">
      				</div>
              <div class="equal width fields">
        			  <div class="field">
        			    <label>Password</label>
        			    <input style="width: 100%;" type="password" name="password" placeholder="password">
        				</div>
                <div class="field">
                  <label>Confirm Password</label>
                  <input style="width: 100%;" type="password" name="confirm" placeholder="confirm password">
                </div>
              </div>
      		    <button class="ui blue button" type="submit">Submit</button>
      			</form>
          </div>
    		</div>
      </div>
    </div>
	</div>
  <ul class="bg-form">
    <li></li>
  </ul>
<script>
  $('#image-upload-modal').click(function(){
    $('.ui.small.modal')
      .modal('setting', 'transition', 'scale')
      .modal('show');
  });
    
$('.ui.form')
  .form({
    inline : true,
    on: 'blur',
    fields: {
      firstName: {
        identifier: 'firstName',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      email: {
        identifier: 'email',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid email'
          }
        ]
      },
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      },
      match: {
        identifier  : 'confirm',
        rules: [
          {
            type   : 'match[password]',
            prompt : "Password doesn't match"
          }
        ]
      }
    }
  })
;

$('.ui.form').submit(function() {
    $('.upload-loading').css('visibility', 'visible');
});
$('.message').transition('fly down', '5s');
</script>
<script>
  var loadFile = function(event){
    var output = document.getElementById('change-profile-pic');
    output.src = URL.createObjectURL(event.target.files[0]);
    $('#change-profile-pic').cropper("destroy");

    $('#change-profile-pic').cropper({
      aspectRatio: 1 / 1,
      crop: function(e) {
        var imageData = $(this).cropper('getImageData');
        var croppedCanvas = $(this).cropper('getCroppedCanvas');
        $('#select-cropped-image').click(function(){
            $('#profile-result').html('<img src="' + croppedCanvas.toDataURL('image/jpeg') +'" class="ui circular tiny image">');
            $('#avatar').html('<input style="display: none;" type="text" name="avatarData" value="' + croppedCanvas.toDataURL('image/jpeg') +'">')
        });
      }
    })
  }
</script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js"></script>
<script>
$(document).ready(function(){
  if($(window).width() > 991){
    window.setInterval(alignment_box, 200);
    function alignment_box(){
      var right=$('#right-box').outerHeight();
      var left=$('#left-box').outerHeight();
      if(left>right) {
        $('#right-box').outerHeight(left)
      }
      else {
        $('#left-box').outerHeight(right)
      }
    }
  }
});
</script>