<% include ../partials/header %> 
<% include ../partials/navbar %> 
<div class="upload-loading">
    <div id="registeration-loading" ></div>
</div>

<div class="main">
	<div class="ui container">
		<div class="login-register-form">
			<h1>Register</h1>
			<form class="ui form" action="/register" method="POST" enctype="multipart/form-data">
				<div class="equal width fields">
					<div class="field">
					    <label>Name</label>
					    <input type="text" name="firstName" placeholder="Enter Name">
					</div>
					<div class="field">
					    <label>Last Name</label>
					    <input type="text" name="lastName" placeholder="Enter Last Name">
					</div>
				</div>
				<div id="image-type-selector" class="field">
            <label for="avatar" class="custom-image-upload">
                <span style="font-weight: 700;">Avatar:</span> <span style="margin-left: 1%;" class="ui blue button">Upload</span> <span class="upload-text"> Upload a file</span>
            </label>
            <input type="file" id="avatar" name="avatar" accept="image/*" required>
        </div>
				<div class="field">
				    <label>Email</label>
				    <input type="email" name="email" placeholder="E-mail">
				</div>
				<div class="field">
				    <label>Username</label>
				    <input class="username" type="text" name="username" placeholder="username">
				</div>
			  <div class="field">
				    <label>Password</label>
				    <input type="password" name="password" placeholder="password">
				</div>
        <div class="field">
            <label>Confirm Password</label>
            <input type="password" name="confirm" placeholder="confirm password">
        </div>
			    <button class="ui primary button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<script>
$('.ui.form')
  .form({
    inline : true,
    on: 'blur',
    fields: {
      firstName: {
        identifier: 'firstName',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      email: {
        identifier: 'email',
        rules: [
          {
            type   : 'email',
            prompt : 'Please enter a valid email'
          }
        ]
      },
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      },
      match: {
        identifier  : 'confirm',
        rules: [
          {
            type   : 'match[password]',
            prompt : "Password doesn't match"
          }
        ]
      }
    }
  })
;

$('input[type="file"]').change(function(e){
  var fileName = e.target.files[0].name;
  $(".upload-text").html(fileName + " is ready for upload");
});
$('.ui.form').submit(function() {
    $('.upload-loading').css('visibility', 'visible');
});
</script>

<% include ../partials/footer %> 