<% include ../partials/form %>
<div class="upload-loading">
  <span id="register-user"></span>
  <span class="loader"><span class="loader-inner"></span></span>
</div>
	<div class="ui container">
    <div class="ui centered grid">
      <div class="ui small modal">
        <div class="header">
          Upload Avatar
        </div>
        <div class="content">
          <div class="ui grid">
            <div class="sixteen wide column">
              <div class="ui basic segment">
                <img class="ui circular small image" src="../assets/avatar/default-boy-avatar.png" id="change-profile-pic">
                <input type="file" accept="image/*" id="profile-file-input">
                <a id="select-cropped-image" class="ui blue button">Upload</a>
                <p>File size limit 1.5MB</p>
                <p id="uploading-text"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <div class="ui approve green button">Save</div>
          <div class="ui cancel button">Default</div>
        </div>
      </div>
      <div id="grid-noPadding" class="fifteen wide tablet five wide computer column">
        <div id="left-box" class="ui segment">
          <div style="text-align: center; color: white;">
            <img style="padding-top: 30px;" class="ui tiny centered image" src="https://i.imgur.com/lOdXhuN.png">
            <h3>Hidden Wonderz</h3>
            <h1 id="form-title">Register</h1>
            <h5>Already have an account?</h5>
            <a class="ui green button" href="/login">Login</a>
          </div>
        </div>
      </div>
      <div id="grid-noPadding" class="fifteen wide tablet seven wide computer column">
    		<div id="right-box" class="ui segment">
          <div class="form-layout">
      			<form onsubmit="lowerCase()" class="ui form" action="/register" method="POST" enctype="multipart/form-data">
      				<div class="equal width fields">
      					<div class="field">
      				    <label>Name</label>
      				    <input style="width: 100%;" type="text" name="firstName" placeholder="Enter Name">
      					</div>
      					<div class="field">
      				    <label>Last Name</label>
      				    <input style="width: 100%;" type="text" name="lastName" placeholder="Enter Last Name">
      					</div>
      				</div>
              <div class="inline fields">
                <label>Gender:</label>
                <div class="field">
                  <div id="maleCheckbox" class="ui radio checkbox">
                    <input type="radio" name="gender" value="male" checked="checked">
                    <label>Male</label>
                  </div>
                </div>
                <div class="field">
                  <div id="femaleCheckbox" class="ui radio checkbox">
                    <input type="radio" name="gender" value="female">
                    <label>Female</label>
                  </div>
                </div>
              </div>
              <div id="profile-result" class="field">
                <img src="../assets/avatar/default-boy-avatar.png" class="ui circular tiny image">
              </div>
              <div class="field">
                <a id="image-upload-modal" class="ui blue button">Upload Avatar</a>
              </div>
              <div id="avatar"></div>
      				<div class="field">
      			    <label>Email</label>
      			    <input style="width: 100%;" type="email" name="email" placeholder="E-mail">
      				</div>
      				<div class="field">
      			    <label>Username</label>
      			    <input id="username" style="width: 100%;" class="username" type="text" name="username" placeholder="username">
      				</div>
              <div class="equal width fields">
        			  <div class="field">
        			    <label>Password</label>
        			    <input style="width: 100%;" type="password" name="password" placeholder="password">
        				</div>
                <div class="field">
                  <label>Confirm Password</label>
                  <input style="width: 100%;" type="password" name="confirm" placeholder="confirm password">
                </div>
              </div>
      		    <button class="ui blue button" type="submit">Submit</button>
      			</form>
          </div>
    		</div>
      </div>
    </div>
	</div>
  <ul class="bg-form">
    <li></li>
  </ul>
<script>
 $('#maleCheckbox')
  .checkbox({
    onChecked: function() {
      $('#profile-result').html('<img src="../assets/avatar/default-boy-avatar.png" class="ui circular tiny image">');
      $('#change-profile-pic').attr("src", "../assets/avatar/default-boy-avatar.png");
    }
  });
  $('#femaleCheckbox')
  .checkbox({
    onChecked: function() {
      $('#profile-result').html('<img src="../assets/avatar/default-girl-avatar.jpg" class="ui circular tiny image">');
      $('#change-profile-pic').attr("src", "../assets/avatar/default-girl-avatar.jpg");
    }
  }); 
</script>
<script>
  function lowerCase() {
      var inputUsername = document.getElementById('username').value.toLowerCase();
      document.getElementById('username').value = inputUsername;
    }
  $('#image-upload-modal').click(function(){
    $('.ui.small.modal')
        .modal({
            onDeny    : function(){
              $('#maleCheckbox')
              .checkbox({
                onChecked: function() {
                  $('#profile-result').html('<img src="../assets/avatar/default-boy-avatar.png" class="ui circular tiny image">');
                }
              });
              $('#femaleCheckbox')
              .checkbox({
                onChecked: function() {
                  $('#profile-result').html('<img src="../assets/avatar/default-girl-avatar.jpg" class="ui circular tiny image">');
                }
              });
              $('#avatar').html('<input style="display: none;" type="text" name="avatarData" value="">')
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document  
            },
            onApprove : function() {
              var e = jQuery.Event("keyup"); // or keypress/keydown
              e.keyCode = 27; // for Esc
              $(document).trigger(e); // trigger it on document 
            },
            approve  : '.positive, .approve, .ok',
            deny     : '.negative, .deny, .cancel',
          })
      .modal('setting', 'transition', 'scale')
      .modal('show');
  });
  $('#profile-file-input').change(function(){
    var file = document.getElementById('profile-file-input').files[0];
    var file_limit = 1650000; // Size limit to approx 1.5MB
    var file_size = file.size;
    if(file_size > file_limit){
      alert("File size: " + Math.round(file_size * 100/1048576)/100 + "MB. Limit: 1.5MB");
      $('#profile-file-input').val("");
    } else {
      loadFile(event);
    }
  });
    
$('.ui.form')
  .form({
    inline : true,
    on: 'blur',
    fields: {
      firstName: {
        identifier: 'firstName',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter your name'
          }
        ]
      },
      email: {
        identifier: 'email',
        rules: [{
          type: 'empty',
          prompt: 'Please enter an email id'
        },
        {
          type: 'email',
          prompt: 'Please enter a valid email id'
        }]
      },
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a username'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      },
      match: {
        identifier  : 'confirm',
        rules: [
          {
            type   : 'match[password]',
            prompt : "Password doesn't match"
          }
        ]
      }
    }
  })
;
$('.ui.form').submit(function() {
  if($('.ui.form').form('is valid')){
    $('.upload-loading').css({
      'visibility': 'visible',
      'opacity' : '1'
    });
  }
});
$('.message').transition('fly down', '5s');
</script>
<script>
  var loadFile = function(event){
    var output = document.getElementById('change-profile-pic');
    output.src = URL.createObjectURL(event.target.files[0]);
    $('#change-profile-pic').cropper("destroy");

    $('#change-profile-pic').cropper({
      aspectRatio: 1 / 1,
      crop: function(e) {
        var imageData = $(this).cropper('getImageData');
        var croppedCanvas = $(this).cropper('getCroppedCanvas');
        $('#select-cropped-image').click(function(){
          function avatarSetting(){
            var promise = new Promise (function(fulfill, reject) {
              $('#profile-result').html('<img src="' + croppedCanvas.toDataURL('image/jpeg') +'" class="ui circular tiny image">');
              $('#avatar').html('<input style="display: none;" type="text" name="avatarData" value="' + croppedCanvas.toDataURL('image/jpeg') +'">')
              fulfill();
            });
            promise.then(function(){
              function uploadedText(){
                $('#uploading-text').text("Uploaded");
              }
              setTimeout(uploadedText, 150);
            });
          }
          $('#uploading-text').text("Uploading... (Do no refresh. Might take some time)");
          setTimeout(avatarSetting, 10);
        });
      }
    })
  }
</script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.4/cropper.min.js"></script>
<script>
$(document).ready(function(){
  if($(window).width() > 991){
    window.setInterval(alignment_box, 200);
    function alignment_box(){
      var right=$('#right-box').outerHeight();
      var left=$('#left-box').outerHeight();
      if(left>right) {
        $('#right-box').outerHeight(left)
      }
      else {
        $('#left-box').outerHeight(right)
      }
    }
  }
});
</script>